:root{
	background: #121212;
}

html {
  scroll-behavior: smooth;
}

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

nav{
	background: #121212;
	padding: 5px;
	border: 1px solid white;
	border-radius: 15px;
}

nav ul{
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

.button{
	padding: 0 15px;
    box-shadow: 0 0 10px  white;
    border-radius: 15px;
}

nav ul li{
	cursor: pointer;
	color: #B99AE8;
}


nav ul li:hover{
	color: white;
}


.sticky{
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100%;
}

a{
	text-decoration: none;
	color: #B99AE8;
	font-weight: bold;
}

a:hover{
	color: white;
}

@font-face {
  font-family: Poke-Font1;
  src: url('../fonts/PokemonSolid.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Poke-Font2;
  src: url('../fonts/PokemonHollow.ttf') format('truetype');
  font-display: swap;
}

header{
	width: 100%;
	height: 350px;
	background: -webkit-linear-gradient(to right, #1AA7D5, #010F57);
	background: linear-gradient(to right, #1AA7D5, #010F57);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

.header-text{
	display: flex;
	height: 300px;
	width: 100%;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	color: white;
	letter-spacing: 12px;
}

.first{
	font-weight: bold;
	font-size: 50px;
	font-family: "Poke-Font2";
}

.second{
	font-size: 30px;
	font-family: "Poke-Font1";
}

.third{
	text-align: right;
}

.wave{
	position: absolute;
	width: 100%;
	bottom: 0;
}

body {
	font-family: "Yanone Kaffeesatz", sans-serif;
}

h1{
	color: #DEDEDE;
	font-size: 30px;
	text-align: center;
	margin: 25px 0;
}

h2{
	color: #DEDEDE;
	font-size: 28px;
	text-align: center;
	margin: 25px 0;
}

h3{
	color: #DEDEDE;
	font-size: 22px;
	text-align: center;
	margin: 25px 0;
}

main p{
	color: #F9FFEE;
	margin: 0 0 25px 0;
}

img {
  filter: brightness(.8) contrast(1.2);
}

.simple-list{
	box-shadow: 0 0 10px  white;
	margin:20px;
	padding-left: 20px;
	list-style-type: square;
	color: white;
}

/*
				GALLERY
*/

.gallery-port{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 5px;
}

.img-port{
	width: 28%;
	height: 21%;
	margin: 20px;
	position: relative;
	cursor: pointer;
	box-shadow: 0 0 10px  white;	
	border-radius: 15px;
}

.img-port img{
	width: 100%;
	height: 85%;
	object-fit: cover;
	display: block;
	border-radius: 15px;
}

.img-text{
	display: flex;
	flex-direction: column;
	font-size: 20px;
	text-align: center;
}

					/* FOOTER*/

footer{
	position: fixed bottom;
	background: #4D5982;
	padding: 5px 0;
}

.content-foo{
	display: flex;
	text-align: center;
	justify-content: space-around;
}

.final-title{
	text-align: center;
	font-size: 24px;
	color: #DEDEDE;
	padding-top: 5px;
	margin-top: 10px;
	border-top: 5px solid white;
	font-weight: bold;
}

.scrollToTopBtn {
	display: flex;
	justify-content: space-around;
	background-color: white;
	border: none;
	color: black;
	cursor: pointer;
	font-size: 18px;
	line-height: 48px;
	width: 48px;
	border-radius: 25px;
	opacity: 0.5;
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 100;
}

/*
			RESPONSIVE MEDIA CONTENT
*/

@media screen and (max-width:992px){

	nav{
		text-align: center;
		padding: 10px ;
		justify-content: space-around;
	}
	
	
	nav ul li{
	font-size: 13px;
	}
	
	.first{
		font-size: 40px;
	}
	
	.second{
		font-size: 25px;
	}
	
	.third{
		font-size: 14px;
	}
	
	header{
		background-position: center;
	}

	/* gallery */
	
	.img-port{
		width: 44%;
		height: 90%;
	}
}


@media screen and (max-width:700px){

	nav ul li{
	font-size: 13px;
	}
	
	.first{
		font-size: 35px;
	}
	
	.second{
		font-size: 20px;
	}
	
	.third{
		font-size: 10px;
	}
	
	/* gallery */
	
	.img-port{
		width: 95%;
		height: 90%;
	}
	

	/*  footer */
	
	.content-foo{
		margin-bottom: 10px;
		text-align: center;
		font-size: 13px
	}
	

	.final-title{
		font-size: 15px;
	}
}




